{% extends "layouts/public_base.html" %}
{% load static %}

{% block content %}
<section class="pt-120 pb-80 hostel-blog-grid-area">
    <div class="container">
        <div class="row g-4">
            {% for post in blog_posts %}
                <div class="col-xl-6 col-lg-6">
                    <article class="tg-blog-standard-item hostel-blog-card h-100">
                        <div class="tg-blog-standard-thumb hostel-blog-thumb">
                            <a href="{% url 'public_contact' %}">
                                <img src="{% static post.image %}" alt="{{ post.title }}">
                            </a>
                            <span class="hostel-blog-badge"><i class="fa-solid fa-book-open-reader hostel-inline-icon"></i>{{ post.category }}</span>
                        </div>
                        <div class="tg-blog-standard-content hostel-blog-content">
                            <div class="tg-blog-standard-meta mb-20">
                                <span><i class="fa-regular fa-calendar-days hostel-inline-icon"></i>{{ post.date }}</span>
                                <span><i class="fa-regular fa-circle-user hostel-inline-icon"></i>Hostelio Desk</span>
                            </div>
                            <h3 class="tg-blog-standard-title mb-15">
                                <a href="{% url 'public_contact' %}">{{ post.title }}</a>
                            </h3>
                            <p class="mb-25">{{ post.excerpt }}</p>
                            <a class="tg-btn-border" href="{% url 'public_contact' %}">
                                Read More <i class="fa-solid fa-arrow-right-long"></i>
                            </a>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>

        <div class="hostel-blog-cta mt-60">
            <div class="row align-items-center g-4">
                <div class="col-lg-8">
                    <h3 class="mb-10">Need direct booking guidance instead of reading more?</h3>
                    <p class="mb-0">Call the hostel office and we will help you choose the right cot, upload payment proof, and track admin approval.</p>
                </div>
                <div class="col-lg-4 text-lg-end">
                    <a class="tg-btn tg-btn-hover" href="tel:{{ public_contact_number|cut:' ' }}">
                        <i class="fa-solid fa-headset hostel-inline-icon"></i>{{ public_contact_number }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
